main {
  height: 100vh;
  h1 {
    text-align: center;
    margin: 1rem 0;
  }
  form {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-inline: auto;
    justify-content: center;

    input,
    button {
      padding: 0.5rem 1rem;
      border-radius: 10px;
      border: none;
      outline: none;
    }
    button {
      background-color: green;
      color: #fff;
      font-size: 1rem;
      font-weight: 400;
    }
  }
}
